<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Pin.LiveSports.Blazor</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <!-- Verslaggever sectie -->
        <div class="nav-item px-3">
            <div class="nav-link text-muted">
                <span class="oi oi-pencil" aria-hidden="true"></span> Verslaggever
            </div>
            <div class="nav-submenu">
                <NavLink class="nav-link" href="SportManagement">
                    <span class="oi oi-cog" aria-hidden="true"></span> Sport Management
                </NavLink>
                <NavLink class="nav-link" href="WedstrijdGegevens">
                    <span class="oi oi-calendar" aria-hidden="true"></span> Wedstrijd gegevens
                </NavLink>
                <NavLink class="nav-link" href="verslaggevingwedstrijd">
                    <span class="oi oi-comment-square" aria-hidden="true"></span> Verslaggeving wedstrijd
                </NavLink>

                <NavLink class="nav-link" href="Fans">
                    <span class="oi oi-people" aria-hidden="true"></span> Fans Wedstrijdoverzicht
                </NavLink>
            </div>
        </div>


    </nav>
</div>



@code {


    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
